In [111]:
import pandas as pd
import os

In [112]:
directory = os.fsencode('offense/')

csv_files_to_merge = []
for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if filename.startswith('batters'): 
        csv_files_to_merge.append('offense/' + filename)
        
df_list = []
for file in csv_files_to_merge:
    df_list.append(pd.read_csv(file))
    
df = pd.concat(df_list)

In [113]:
df['HEIGHT'].unique()

array(['6-1', '6-2', '5-11', '6-3', '6-0', '5-10', '6-5', '6-4', '5-9',
       '5-6', '6-7', '5-7', '6-6', '5-8', '6-8'], dtype=object)

In [114]:
def convert_height_to_inches(feet_inches):
    feet, inches = feet_inches.split('-')
    total_inches = int(inches) + (int(feet) * 12)
    return total_inches

df['HEIGHT'] = df['HEIGHT'].map(convert_height_to_inches)
df['WEIGHT'] = df['WEIGHT'].str.replace('lb','')

df = df.apply(pd.to_numeric, errors='ignore')

In [115]:
df['HEIGHT'].unique()

array([73, 74, 71, 75, 72, 70, 77, 76, 69, 66, 79, 67, 78, 68, 80])

In [116]:
df.to_csv('offense/all_batting_years_1985_to_2017.csv')

In [117]:
df.shape

(17250, 37)

In [118]:
df.columns

Index(['Unnamed: 0', 'ID', 'NAME', 'BATS', 'HEIGHT', 'WEIGHT', 'YEAR', 'AGE',
       'TM', 'LG', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB',
       'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'OPS+', 'TB', 'GDP', 'HBP',
       'SH', 'SF', 'IBB', 'POS', 'AWARDS', 'SALARY'],
      dtype='object')

In [119]:
cols = ['ID', 'NAME', 'THROWS', 'HEIGHT', 'WEIGHT', 'YEAR', 'AGE', 'TM', 'ERA', 'LG', 'H', 'R', 'ER', 'HR', 'BB', 'I', 'SO']
df.sample(20)
#df.drop(df.sort_values('ERA').tail(6).index,inplace=True)

,Unnamed: 0,ID,NAME,BATS,HEIGHT,WEIGHT,YEAR,AGE,TM,LG,...,OPS+,TB,GDP,HBP,SH,SF,IBB,POS,AWARDS,SALARY
114,114,kempma01,Matt Kemp,Right,76,210,2012,27.0,LAD,NL,...,147.0,217.0,10.0,3.0,0.0,3.0,8.0,8,AS,"$10,000,000"
1235,1235,monrocr01,Craig Monroe,Right,73,195,2006,29.0,DET,AL,...,99.0,261.0,14.0,1.0,0.0,6.0,3.0,*7D/8,NaN,"$2,800,000"
246,246,carabra01,Ramón Caraballo,Both,67,150,1993,24.0,ATL,NL,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,/4,NaN,"$109,000"
339,339,schnebr01,Brian Schneider,Left,73,210,2004,27.0,MON,NL,...,84.0,174.0,8.0,3.0,5.0,2.0,10.0,*2,NaN,"$350,000"
489,489,matsuka01,Kazuo Matsui,Both,70,187,2010,34.0,HOU,NL,...,-2.0,11.0,0.0,1.0,2.0,0.0,0.0,4,NaN,"$5,500,000"
130,130,malavjo01,José Malavé,Right,74,212,1997,26.0,BOS,AL,...,-100.0,0.0,1.0,0.0,0.0,0.0,0.0,/7,NaN,"$150,000"
168,168,allendu01,Dusty Allen,Right,76,215,2000,27.0,TOT,MLB,...,125.0,15.0,1.0,0.0,0.0,0.0,0.0,3/75D9,NaN,"$200,000"
832,832,smoakju01,Justin Smoak,Both,76,220,2015,28.0,TOR,AL,...,105.0,139.0,10.0,2.0,0.0,1.0,0.0,*3/D,NaN,"$1,000,000"
210,210,alomaro01,Roberto Alomar,Both,72,184,2004,36.0,ARI,NL,...,116.0,52.0,2.0,1.0,2.0,0.0,0.0,4/D,NaN,"$1,000,000"
591,591,benedbr01,Bruce Benedict,Right,73,175,1988,32.0,ATL,NL,...,62.0,64.0,2.0,0.0,5.0,2.0,1.0,2,NaN,"$665,000"
619,619,shoppke01,Kelly Shoppach,Right,72,220,2013,33.0,SEA,AL,...,83.0,37.0,0.0,3.0,2.0,1.0,1.0,2,NaN,"$1,500,000"
192,192,alomaro01,Roberto Alomar,Both,72,184,1989,21.0,SDP,NL,...,107.0,234.0,10.0,1.0,17.0,8.0,4.0,*4,NaN,"$150,000"
226,226,marshmi02,Mike Marshall,Right,77,215,1987,27.0,LAD,NL,...,108.0,185.0,13.0,4.0,0.0,4.0,2.0,9,NaN,"$670,000"
260,260,martial03,Al Martin,Left,74,220,1997,29.0,PIT,NL,...,114.0,200.0,7.0,3.0,1.0,5.0,7.0,*7,NaN,"$2,266,667"
668,668,lopezjo01,José López,Right,72,205,2008,24.0,SEA,AL,...,104.0,285.0,14.0,1.0,6.0,9.0,5.0,*43/D,NaN,"$1,750,000"
1561,1561,murraed02,Eddie Murray,Both,74,190,1997,41.0,TOT,MLB,...,55.0,53.0,10.0,0.0,0.0,3.0,0.0,D,NaN,"$750,000"
669,669,higgibo02,Bobby Higginson,Left,71,180,2000,29.0,DET,AL,...,135.0,321.0,5.0,2.0,2.0,3.0,6.0,*7D,NaN,"$4,425,000"
616,616,piazzmi01,Mike Piazza,Right,75,200,1995,26.0,LAD,NL,...,172.0,263.0,10.0,1.0,0.0,1.0,10.0,*2,"AS,MVP-4,SS","$900,000"
1462,1462,brumfja01,Jacob Brumfield,Right,72,170,1997,32.0,TOR,AL,...,45.0,49.0,4.0,1.0,1.0,1.0,0.0,879/D,NaN,"$1,050,000"
122,122,kempst01,Steve Kemp,Left,72,195,1988,33.0,TEX,AL,...,35.0,8.0,1.0,0.0,0.0,1.0,0.0,/D739,NaN,"$227,500"

In [120]:
#df.to_csv('offense/all_batting_years_1985_to_2017.csv')
df.shape

(17250, 37)

In [121]:
df.columns

Index(['Unnamed: 0', 'ID', 'NAME', 'BATS', 'HEIGHT', 'WEIGHT', 'YEAR', 'AGE',
       'TM', 'LG', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB',
       'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'OPS+', 'TB', 'GDP', 'HBP',
       'SH', 'SF', 'IBB', 'POS', 'AWARDS', 'SALARY'],
      dtype='object')

In [122]:
my_columns = ['NAME', 'BATS', 'YEAR', 'AGE',
       'TM', 'LG', 'G', 'PA', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB',
       'CS', 'BB', 'SO', 'BA', 'SALARY']

df[df.PA < 50][my_columns].sample(20)

,NAME,BATS,YEAR,AGE,TM,LG,G,PA,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,SALARY
981,Geovany Soto,Right,2017,34.0,CHW,AL,13,48.0,5.0,8.0,0.0,0.0,3.0,9.0,0.0,0.0,4.0,10.0,0.190,"$2,000,000"
137,Guillermo García,Right,1999,27.0,FLA,NL,4,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.250,"$200,000"
156,Brandon Watson,Left,2006,24.0,TOT,NL,10,29.0,0.0,5.0,0.0,0.0,0.0,0.0,1.0,2.0,1.0,3.0,0.179,"$327,000"
359,Alex Castellanos,Right,2013,26.0,LAD,NL,8,18.0,2.0,3.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,5.0,0.167,"$490,500"
213,Clete Thomas,Left,2012,28.0,TOT,AL,15,29.0,3.0,4.0,1.0,0.0,1.0,4.0,0.0,0.0,0.0,16.0,0.143,"$481,000"
781,Tim McIntosh,Right,1993,28.0,MIL,AL,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,"$120,000"
52,Andrew Lambo,Left,2015,26.0,PIT,NL,20,27.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,8.0,0.040,"$515,500"
170,Dusty Allen,Right,2000,27.0,DET,AL,18,18.0,5.0,7.0,2.0,0.0,2.0,2.0,0.0,0.0,2.0,7.0,0.438,"$200,000"
423,Shawn Riggans,Right,2009,28.0,TBR,AL,7,14.0,2.0,2.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,3.0,0.143,"$413,900"
114,Ron Mahay,Left,2000,29.0,OAK,AL,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,"$217,000"
1213,Scott Bradley,Left,1992,32.0,SEA,AL,2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.000,"$837,500"
706,Jason Wood,Right,1998,28.0,TOT,AL,13,27.0,6.0,8.0,2.0,0.0,1.0,1.0,0.0,1.0,3.0,5.0,0.333,"$170,000"
334,Ron Tingley,Right,1990,31.0,CAL,AL,5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.000,"$100,000"
858,Carlos Ruiz,Right,2016,37.0,LAD,NL,14,40.0,3.0,10.0,2.0,0.0,0.0,3.0,0.0,0.0,3.0,5.0,0.278,"$8,500,000"
136,Mike Figga,Right,1999,28.0,NYY,AL,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,"$203,650"
433,Eddie Pérez,Right,2005,37.0,ATL,NL,16,39.0,3.0,8.0,2.0,0.0,2.0,6.0,0.0,0.0,1.0,5.0,0.211,"$625,000"
967,Matt Merullo,Left,1994,28.0,CLE,AL,4,13.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.100,"$160,000"
325,Terry Lee,Right,1990,28.0,CIN,NL,12,22.0,1.0,4.0,1.0,0.0,0.0,3.0,0.0,0.0,2.0,2.0,0.211,"$100,000"
198,Luis Ordaz,Right,2006,30.0,TBD,AL,1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,"$375,000"
996,Rex Hudler,Right,1998,37.0,PHI,NL,25,45.0,2.0,5.0,1.0,0.0,0.0,2.0,0.0,0.0,4.0,12.0,0.122,"$1,150,000"